<!DOCTYPE html>
<html>
<head>
  <!-- {{ url_for('static', filename='logo.png') }} -->
    <link rel="icon" href="../static/logo.png" type="image/gif" sizes="16x16">
    <title>WatsonHackApp</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
</head>

<body>



    <script type="text/javascript" src="../static/main.js"></script>
</body>
</html>
